fastapi>=0.111.0
uvicorn[standard]>=0.30.0
sse-starlette>=2.1.0
python-multipart>=0.0.9
pydantic>=2.7.0
openai-whisper>=20231117
torch
torchaudio
transformers>=4.41.0
sentencepiece
noisereduce>=3.0.2
soundfile>=0.12.1
numpy>=1.26.0
pandas>=2.2.0
ffmpeg-python>=0.2.0
